1.CHANGING THE ORDER OF LETTERS IN STRING

In [1]:
s = str(input("Enter the String : "))
a = s[0]
c = s[-1]
b = c + s[1 : -1] + a
print("String is : ",b)

Enter the String : python
String is :  nythop

2.TO GET A NEW STRING FROM TWO STRING AND SWAP FIRST TWO CHARACTERS

In [5]:
s1 = str(input("Enter the First String :  "))
s2 = str(input("Enter the Second String : "))
print("Result String is ",s1,s2)
a = s1[0:2]
b = s2[0:2]
s3 = b + s1[2:]
s4 = a + s2[2:]
print("New string is : ",s3,s4)

Enter the First String :  hello
Enter the Second String : python
Result String is  hello python
New string is :  pyllo hethon

3.REPLACING LETTERS IN A STRING

In [27]:
s = str(input("Enter the String : "))
a = s[0]
b = s[1:]
st = b.replace(a,"$")
ns = s[0] + st
print("New string is : ",ns)

Enter the String : onion
New string is :  oni$n

4.PRINT FIRST AND LAST COLORS

In [30]:
s = str(input("Enter the Names of Color : "))
p = s.split(",")
print("The First Color : ",p[0])
print("The Last Color : ",p[-1])

Enter the Names of Color : red,blue,yellow,white
The First Color :  red
The Last Color :  white

5.PRINT THE EXTENSION OF FILE

In [33]:
s = str(input("Enter the File Name : "))
p = s.split(".")
print("The Extension file is : ",p[-1])

Enter the File Name : image.html
The Extension file is :  html

6.3rd ELEMENT FROM THE LAST OF A TUPLE

In [9]:
mt = tuple(input("Enter the numbers : ").split(","))
print("The tuple =",mt)
print("3rd element: ",mt[2])
print("3rd element from the last: ",mt[-3])

Enter the numbers : 1,2,3,4,5,6,7
The tuple = ('1', '2', '3', '4', '5', '6', '7')
3rd element:  3
3rd element from the last:  5

7.TO PRINT SET-1 COLOR NOT CONTAINED SET-2 COLOR

In [1]:
f = set(input('Enter colors for 1st Set : ').split(','))
s = set(input('Enter colors for 2nd Set : ').split(','))
Diff = f - s
print(f"{Diff}")

Enter colors for 1st Set : red,green
Enter colors for 2nd Set : black,red
{'green'}

8.SORT ASCENDING AND DESCENDING ORDER

In [1]:
name = input("Enter the Name : ").split(",")
roll = input("Ente te rollno : ").split(",")
d ={roll[0]: name[0], roll[1]: name[1],roll[2]:name[2],roll[3]:name[3],roll[4]:name[4]}
print("Ascending_order",d)
s = dict(sorted(d.items(),reverse =True))
print("Descending_order : ",s)

Enter the Name : rn,js,ys,as,lo
Ente te rollno : 1,2,3,4,5
Ascending_order {'1': 'rn', '2': 'js', '3': 'ys', '4': 'as', '5': 'lo'}
Descending_order :  {'5': 'lo', '4': 'as', '3': 'ys', '2': 'js', '1': 'rn'}

9.MERGE TWO DICTIONARIES

In [6]:
d1 = {}
n1 = input("Enter the 1st S_N : ")
n2 = input("Enter the 2nd S_N : ")
n3 = input("Enter the 3rd S_N : ")
d1 ['1.S_N'] = n1
d1 ['2.S_N'] = n2
d1 ['3.S_N'] = n3
print("First Dict is : ",d1)

d2 = {}
c1 = input("Enter the 4th S_N: ")
c2 = input("Enter the 5th S_N : ")
d2 ['4.S_N'] = c1
d2 ['5.S_N'] = c2
print("Second Dict : ",d2)
d1.update(d2)
print("Merge Dict : ",d1)

Enter the 1st S_N : Roshan
Enter the 2nd S_N : Jaseem
Enter the 3rd S_N : Aswin
First Dict is :  {'1 S_N': 'Roshan', '2 S_N': 'Jaseem', '3 S_N': 'Aswin'}
Enter the 4th S_N: Linto
Enter the 5th S_N : Yaseen
Second Dict :  {'4 S_N': 'Linto', '5 S_N': 'Yaseen'}
Merge Dict :  {'1 S_N': 'Roshan', '2 S_N': 'Jaseem', '3 S_N': 'Aswin', '4 S_N': 'Linto', '5 S_N': 'Yaseen'}

10.PRINT ALL EVEN NUMBER(1-25) AND CALCULATE SUM

In [2]:
en = list(range(2, 26, 2))
print(en)
ts = sum(en)
print("Sum:", ts)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]
Sum: 156