1. Program to count each word in a line of text

In [2]:
txt = input("Enter the line of text : ")
wc ={word : txt.split().count(word) for word in set(txt.split())}
print("Occurrences of each word in line : ",wc)

Enter the line of text :  hello world hello python world

{'world': 2, 'hello': 2, 'python': 1}

2. Prompt user for list of interger value greater than 100,store 'over'

In [1]:
a = input("Enter a list of integers separated by spaces: ")
int_list = [int(x) for x in a.split()]
mod_list = ['over' if x > 100 else x for x in int_list]
print("Values greater than 100 is 'over' : ",mod_list)

Enter a list of integers separated by spaces:  98 101 56 102

Values greater than 100 is 'over' :  [98, 'over', 56, 'over']

3. Store list of first names,count 'a' within the list

In [12]:
n = input("Enter first names separated by spaces: ").split()
count_a = sum(name.lower().count('a') for name in n)
print("The total of 'a' in the list :  ",count_a)

Enter first names separated by spaces:  roshan jaseem aswin john

The total of 'a' in the list :   3

4. a) where list are of same length, b)whether sum to same value, c)whether any value in both

In [26]:
l1 = map(int, input("Enter List 1 (space-separated integers): ").split())
l2 = map(int, input("Enter List 2 (space-separated integers): ").split())
l1 = list(l1)
l2 = list(l2)
same_len = len(l1) == len(l2)
print("Lists are of same length: ", same_len)

same_sum = sum(l1) == sum(l2)
print("Lists sum to same value: ", same_sum)

com_val = [value for value in l1 if value in l2]
print("Common values: ", com_val)
print("Any value occurs in both lists: ", bool(com_val))

Enter List 1 (space-separated integers):  1 2 3 4
Enter List 2 (space-separated integers):  4 3 2 1

Lists are of same length:  True
Lists sum to same value:  True
Common values:  [1, 2, 3, 4]
Any value occurs in both lists:  True

5. a) Positive list of numbers from given list of integers

In [13]:
u = input("Enter a list of numbers separated by spaces: ")
l1 = list(map(int, u.split()))
nl = [n for n in l1 if n > 0]
print("List of positive numbers:", nl)

Enter a list of numbers separated by spaces:  12 -23 4 0 -5

List of positive numbers: [12, 4]

b) Square of N numbers

In [15]:
u = input("Enter a list of numbers separated by spaces: ")
l1 = list(map(int, u.split()))
sq = [n**2 for n in l1]
print("Square of the numbers : ",sq)

Enter a list of numbers separated by spaces:  1 2 3 4

Square of the numbers :  [1, 4, 9, 16]

c) A list of vowels selected from a given word

In [16]:
w = input("Enter a word: ")
v = "aeiouAEIOU"
vl = [n for n in w if n in v]
print("Vowels in the word:", vl)

Enter a word:  roshan

Vowels in the word: ['o', 'a']

d) List ordinal value of each element of a word

In [21]:
w = input("Enter a word: ")
ov= [ord(char) for char in w]
print("Ordinal values:", ov)

Enter a word:  python

Ordinal values: [112, 121, 116, 104, 111, 110]